.wrapper {
width: 100%;
}

.header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.header-intro {
    background: url(../img/10748497143_97fb288b86_k.jpg) center/cover ;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    h1 {
      color: #ffffff;
      font-size: 100px;
      font-weight: 500;
      text-align: center;
      line-height: 100px;
      font-weight: 800;
      z-index: 2;

      span {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        display: block;
        letter-spacing: 1px;
      }
    }
  }

.header-intro::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background:rgba(0, 0, 0, 0.5);
        z-index: 1;
    }