.swiper-container {
    width: 100%;
    height: 75%;
    margin-bottom: 50px;
    img {
        width: 100%;
    }
}
.swiper-button-prev, .swiper-button-next {
    color: #ffffff;
    width: 75px;
    height: 25px
    ;
}
.swiper-pagination-bullet-active {
    background-color: #ffffff;
  }
