html {
    scroll-behavior: smooth;
  }

body {
    background: rgb(255, 255, 255);
}
.wrapper-section {
    width: 100%;
    margin: 0 auto;
}
.section1{
    width: 70%;
    position: relative;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    h2{
        margin-top: 0;
        font-size: 32px;
        line-height: 45px;
        font-weight: 400;
    }
    .right{
        p{
            margin-bottom:50px;
        }
    }
    .left{
        p{
            margin-top:50px;
        }
    }
}

.swiper {
    height: 80%;
}

.section2{
    margin: 0 auto;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    .price{
        margin:0px;
        order: 1;
    }
    .menu-title{
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
        }
    .menu{
        display:flex;
        width: 100%;
        justify-content: space-between;
    }
    .menu-item{
        display: flex;
        width: 30%;
        padding: 0 1.5%;
        justify-content: space-between;
    }
    h3{
        margin-bottom: 0;
    }
    h3,p{
        margin-top: 0;
    }
    .logo-tavern{
        position: relative;
        left:50%;
        transform: translate(-50%,-50%);
        margin-top: 100px;
        margin-bottom:0;
        width: 300px;
        text-align: center;
        img{
            max-width:300px;
        }
    }
    .space{
        margin-top: 50px;
    }
}
// SECTION CASCADE BAR 

.section-cascade{
    margin: 0 auto;
    position:relative;
    background: url(../img/cascade_pix_bg.jpg) center/cover;
    height: 100vh;
    background-position-y: 20%;
    margin-top: 100px;
        img{
        position: relative;
        display: inline-block;
        margin: 50px 0;
        width: 20%;
        left: 50%;
        transform: translate(-50%,0%);
        z-index: 2;
    }
}

.wrapper-cascade{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    z-index: 2;
        h3{
        margin-bottom: 0;
    }
        h3,p{
        color: #ffffff;
        margin-top: 0;
        z-index: 2;
    }
        .menu-title{
        text-align: center;
        padding-bottom: 50px;
                z-index: 2;

    }
        .menu-item{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        z-index: 2;
    }
        .price{
        order: 1;
    }
        span{
            z-index: 2;
    }
}
.menu-title{
    display: flex;
    justify-content: center;
    color: rgba(65, 65, 65, 0.8);
    z-index: 2;

}
.col-left{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}
.col-middle{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}
.col-right{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.section-cascade::before{
    content:'';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

// SECTION RESERVATION

.reservation{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
    h1{
        margin-bottom: -5px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
    }
}

